/* Variables */

// Base color
$blue: #324157;
$green: #30b08f;
$light-blue: #3a71a8;
$panGreen: #30b08f;
$pink: #e65d6e;
$red: #c03639;
$tiffany: #4ab7bd;
$yellow: #fec171;

// Sidebar
$menuActiveText: #409eff;   // Also see settings.sidebarTextTheme
$menuBg: #304156;
$menuText: #bfcbd9;
$sideBarWidth: 210px;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$subMenuActiveText: #f4faf5;

// Login page
$darkGray: #889aa4;
$lightGray: #eee;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
    menuBg: $menuBg;
    menuText: $menuText;
    menuActiveText: $menuActiveText;
}
